{# src/JCV/UploadBundle/Resources/views/Upload/new.html.twig #}

{% extends "JCVUploadBundle::layout.html.twig" %}

{% block jcvupload_body -%}
    <h1>Upload creation</h1>
    {{ form(form) }}

    <p>
        <a href="{{ path('upload') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Back to the list
        </a>
    </p>


{% endblock %}


